
{% extends "base.html" %}

{% block content %}

  <section class="hero is-info is-medium is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
				<h1 class="title">Hi, {{ user }} <br>　これはアプリのインストール数予想機です </h1>
      </div>
    </div>
  </section>

	<section class="articles">
		<div class="card article">
			<div align="center">
				<div class="media">
					<span class="tag is-rounded is-info">分析する対象のCSVをアップロード</span>
				</div>
				<form action="{{ url_for('home') }}" method="post"  enctype="multipart/form-data">
					<input type="file" id="send_file" name="send_file"/>
					<input type="submit" value="Upload Csv" class="is-large">
				</form>
			</div>
			<div align="center">
				{{ table_html|safe }}
			</div>
		</div>
	</section>
{% endblock %}
